.content {
	margin: 24px;
	min-height: 80vh;
	display: grid;
	grid-template-areas: "sidebar content";
	grid-template-columns: 2fr 5fr;
	gap: 1rem;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.userActionBtn {
	margin-bottom: 1rem;
	max-width: 12rem;
	min-width: 5rem;
}

.userActions {
	grid-area: sidebar;
}

.requestBoard {
	grid-area: content;
}
